# Copyright 2022 - 2025 SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: codegen
on:
  workflow_call:
  workflow_dispatch:
permissions:
  contents: read
defaults:
  run:
    shell: bash
env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings
jobs:
  codegen:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-deps
      - uses: actions-rust-lang/setup-rust-toolchain@v1.13.0
      - uses: mozilla-actions/sccache-action@v0.0.9
      - name: generate and check diffs
        run: |
          ./scripts/generate-and-check.sh
