# Copyright 2025 SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: warmup-caches
on:
  workflow_call:
  workflow_dispatch:
permissions:
  contents: read
defaults:
  run:
    shell: bash
env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
jobs:
  build:
    runs-on: ubuntu-24.04
    name: build
    steps:
      - uses: ./.github/actions/install-deps
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1.13.0
      - uses: mozilla-actions/sccache-action@v0.0.9
      - name: Build with all features
        run: cargo build --locked --all-targets --all-features --workspace
